{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<div style="margin: 50px; color: darkblue;">
    <h1>Hello!</h1>
    <br>
    <h3>My name is Vishal and I created this website.</h3>
    <br>
    <h5>I created this website as a final project for the course called CS50.
    CS50 is an introductery course for computer programming offered by HARVERD UNIVERSITY! online.
    It is available to all for free and If you want a verified certificate then you only need to pay $90.
    </h5>
    <br>
    <h5>I am a Mechanical Engineering student though I am really interested in computer programming.
    </h5>
    <br>
    <h5>
        I took Strength of Materials (SOM) class last semester in spring 2020 in which
        many of may problems required me to find Center of gravity (CG) and Moment of inertia (MI) of cross-sectional
        area of beams.
        We learned to calculate those in the prerequisite course called Statics but the Implimentations of these topics
        are endless as you go on to study and later work with structural and mechanical engineering fields.
    </h5>
    <br>
    <h5>
        While calculating many of my problems for SOM class, I realsied that I spent about half of my
        time calculating CG and MI. Also, I was more likely to make mistakes on those If the shape is too
        complecated. So a tool like this website provides can greatly solve many of those problems.
    </h5>
    <br>
    <h5>
        There are huge possibilities to improve this website and many things relavent to this concept can be added.
        For example, There could be many more shapes added to calcualte CG and MI then what I have currently. Also,
        in many problems, there are these common shapes with slightly uneven dimentions which could be a major improvement
        to do for this application. It also currently restricted to only 2D shapes, It can go 3D. Visualisation can be improved and many other
        such small and big things can be modified or added.
    </h5>
    <br>
    <H5>
        Thank you very much for visiting my wesite!
    </H5>

</div>
{% endblock %}
