{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

      <table  class="t">
        <tr>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/circle"><img src="/static/images/Circular.jpg" class="img-fluid border" width=70%  alt="circle_image"></a>
          </td>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/rectangle"><img src="/static/images/Rectangular.jpg" class="img-fluid border" width=70% alt="ractangle_image"></a>
          </td>
        </tr>

        <tr>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/triangle"><img src="/static/images/Triangular.jpg" class="img-fluid border" width=70% alt="triangle_image"></a>
            </td>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/trapezoid"><img src="/static/images/Trapezoidal.jpg" class="img-fluid border" width=70% alt="trapezoidal_image"></a>
          </td>
        </tr>

        <tr>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/semicircle"><img src="/static/images/semicircle.png" class="img-fluid border" width=70% alt="semicircular_image"></a>
          </td>

          <td class="td">
            <div class="text">Click on image</div>
            <a href="/semiparabola"><img src="/static/images/Semiparabolic.jpg" class="img-fluid border" width=70% alt="semiparabolic_image"></a>
          </td>
        </tr>

        <tr>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/ellipse"><img src="/static/images/Ellipse.png" class="img-fluid border" width=70% alt="Combination of different shapes"></a>
          </td>
          <td class="td">
            <div class="text">Click on image</div>
            <a href="/i_beam"><img src="/static/images/I-beam.png" class="img-fluid border" width=70% alt="Combination of different shapes"></a>
          </td>
        </tr>

      </table>

{% endblock %}