{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="/login" method="post" style="text-align: center;">
        <div style="margin: auto; width: 280px;"class="form-row form-group">
            <input style="margin:5px;" autocomplete="off" style="width: 300px; margin: auto;" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <input style="margin:5px;" class="form-control"  style="width: 300px; margin: auto;" name="password" placeholder="Password" type="password">
        </div>
        <button  class="btn btn-primary" type="submit">Log In</button>
    </form>

    <a class="nav-link" style="text-align: center;" href="/forgot">Forgot/Change password</a>

{% endblock %}
